<% include partials/header %>

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <!-- sidebar header -->
        </a>
		  </li>
		  <li>
		    <a class="sdbar" href="/home">Create new</a>
		  </li>
		  <li>
		    <a class="sdbar" href="/tada">View all</a>
		  </li>
		  <li>
		    <a class="sdbar" href="/logout">Log out</a>
      </li>
      <li>
        <h1 id="rechead">Recently Created</h1>
      </li>
<!-- recent images -->
<% recentImages.forEach(function(image) { %>
  <li id="recents">
  <!-- Prints image ID -->
  <p id="reclabel">#<%= image.id %></p>
  <!-- Rendered image links to image's page -->
  <a href="/tada/<%= image.id %>" class=" btn">
  <!-- variables -->
    <% var background = image.background %>
    <% var animal = image.animal %>
    <% var itemone = image.itemone %>
    <% var itemtwo = image.itemtwo %>
    <% var img = image.img %>
  <!-- Rendered image -->
    <div class="result" id="recresult" style="background-image:url(<%= background %>)">
      <img crossOrigin = "annonymous" src="<%= img %>" id="mainImg">
      <img crossOrigin = "annonymous" src="<%= animal %>" id="animal">
      <img crossOrigin = "annonymous" src="<%= itemone %>" id="itemone">
      <img crossOrigin = "annonymous" src="<%= itemtwo %>" id="itemtwo">
      </div>
  </a>
  <!-- /image link -->
  </li>
<% }) %>


<div id="space"></div>

</ul>
  </div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid fadr">
    <div class="row">
      <div class="col-lg-12">

<div class="page-header">
	<h1>Your portraits</h1>
</div>

<% if (images.length === 0) { %>
  No portraits yet! Go <a href="/home">make one!</a>
<% } %>

<!-- loop div -->
<div id="fadr">
<% images.forEach(function(image) { %>

  <!-- Prints image ID -->
	<p>Image <%= image.id %></p>
  <!-- Rendered image links to image's page -->
	<a href="/tada/<%= image.id %>" class=" btn tnail">
  <!-- variables -->
    <% var background = image.background %>
      <% var animal = image.animal %>
      <% var itemone = image.itemone %>
      <% var itemtwo = image.itemtwo %>
      <% var img = image.img %>
  <!-- Rendered image -->
    <div class="result" id="smell" style="background-image:url(<%= background %>)">
        <img crossOrigin = "annonymous" src="<%= img %>" id="mainImg">
    <img crossOrigin = "annonymous" src="<%= animal %>" id="animal">
    <img crossOrigin = "annonymous" src="<%= itemone %>" id="itemone">
    <img crossOrigin = "annonymous" src="<%= itemtwo %>" id="itemtwo">
    </div>
  </a>
  <!-- /image link -->
  <!-- Delete button -->
	<form action="/tada/<%= image.id %>?_method=delete" method="post" >
    <input type="submit" value="Delete" class="btn btn-danger delbutt">
  </form>

<br><br>
<% }) %>
<!-- /loop -->
</div>
<!-- /loop div -->

<a href="mailto:emmy.armintrout@gmail.com?subject=EPG broken :(" subject:"EPG broken :(">Report a bug</a>


    	</div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<% include partials/footer %>

